<a href="https://colab.research.google.com/github/alnrosales/aws_restart/blob/main/restart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Writing your first Python program**

In [ ]:
print("Hello, World")

Hello, World

## **Working with Numeric Data Types**

Adding

In [ ]:
2+2

4

Subtracting

In [ ]:
4-2

2

Multiplying

In [ ]:
2*2

4

Dividing

In [ ]:
4/2

2.0

Exiting the Python shell

In [ ]:
quit()

## **Introducing the int data type**

In [ ]:
print("Python has three numeric types: int, float, and complex")

Python has three numeric types: int, float, and complex

Creating a variable

In [ ]:
myValue = 1

In [ ]:
print(myValue)

In [ ]:
print(type(myValue))

In [ ]:
print(str(myValue) + " is of the data type " + str(type(myValue)))

In [ ]:
myValue = 1
print(myValue)
print(type(myValue))
print(str(myValue) + " is of the date type " + str(type(myValue)))

1
<class 'int'>
1 is of the date type <class 'int'>

## **Introducing the float data type**

In [ ]:
myValue = 3.14
print(myValue)
print(type(myValue))
print(str(myValue) + " is of the data type " + str(type(myValue)))

3.14
<class 'float'>
3.14 is of the data type <class 'float'>

## **Introducing the complex data type**

In [ ]:
myValue = 5j
print(myValue)
print(type(myValue))
print(str(myValue) + " is of the data type " + str(type(myValue)))

## **Introducing the bool data type**

In [ ]:
myValue = True
print(myValue)
print(type(myValue))
print(str(myValue) + " is of the data type " + str(type(myValue)))

True
<class 'bool'>
True is of the data type <class 'bool'>

In [ ]:
myValue = False
print(myValue)
print(type(myValue))
print(str(myValue) + " is of the data type " + str(type(myValue)))

False
<class 'bool'>
False is of the data type <class 'bool'>

## **Introducing the string data type**

In [ ]:
myString = "This is a string"
print(myString)

This is a string

In [ ]:
print(type(myString))

<class 'str'>

In [ ]:
myValue = "This is a String"
print(myValue)
print(type(myValue))
print(str(myValue) + " is of the data type " + str(type(myValue)))

This is a String
<class 'str'>
This is a String is of the data type <class 'str'>

## **Working with string concatenation**

In [ ]:
firstString = "water"
secondString = "fall"
thirdString = firstString + secondString
print(thirdString)

waterfall

## **Working with input strings**

In [ ]:
name = input("What is your name? ")
print(name)

What is your name? Alistair
Alistair

## **Formating output strings**

In [ ]:
color = input("What is your favorite color?  ")
animal = input("What is your favorite animal?  ")
print("{}, you like a {} {}!".format(name,color,animal))

What is your favorite color?  blue
What is your favorite animal?  lion
Alistair, you like a blue lion!

## **Defining a list**

In [ ]:
myFruitList = ["apple", "banana", "cherry"]
print(myFruitList)
print(type(myFruitList))

['apple', 'banana', 'cherry']
<class 'list'>

## **Accessing a list by position**

In [ ]:
print(myFruitList[0])

apple

In [ ]:
print(myFruitList[1])

banana

In [ ]:
print(myFruitList[2])

cherry

## **Changing the values in a list**

In [ ]:
myFruitList[2] = "orange"

In [ ]:
print(myFruitList)

['apple', 'banana', 'orange']

## **Defining a tuple**

In [ ]:
myFinalAnswerTuple = ("apple", "banana", "pineapple")
print(myFinalAnswerTuple)
print(type(myFinalAnswerTuple))

('apple', 'banana', 'pineapple')
<class 'tuple'>

## **Accessing a tuple by position**

In [ ]:
print(myFinalAnswerTuple[0])

apple

In [ ]:
print(myFinalAnswerTuple[1])

banana

In [ ]:
print(myFinalAnswerTuple[2])

pineapple

## **Defining a Dictionary**

In [ ]:
myFavoriteFruitDictionary = {
  "Akua" : "apple",
  "Saanvi" : "banana",
  "Paulo" : "pineapple"
}

In [ ]:
print(myFavoriteFruitDictionary)

{'Akua': 'apple', 'Saanvi': 'banana', 'Paulo': 'pineapple'}

In [ ]:
print(type(myFavoriteFruitDictionary))

<class 'dict'>

## **Accessing a dictionary by name**

In [ ]:
print(myFavoriteFruitDictionary["Akua"])

apple

In [ ]:
print(myFavoriteFruitDictionary["Saanvi"])

banana

In [ ]:
print(myFavoriteFruitDictionary["Paulo"])

pineapple

## **Creating a mixed-type list**

In [ ]:
myMixedTypeList = [45, 290578, 1.02, True, "My dog is on the bed.", "45"]

In [ ]:
for item in myMixedTypeList:
    print("{} is of the data type {}".format(item,type(item)))

45 is of the data type <class 'int'>
290578 is of the data type <class 'int'>
1.02 is of the data type <class 'float'>
True is of the data type <class 'bool'>
My dog is on the bed. is of the data type <class 'str'>
45 is of the data type <class 'str'>

## **Creating a car inventory program**

Defining the dictionary

In [ ]:
import csv
import copy

In [ ]:
myVehicle = {
    "vin" : "<empty>",
    "make" : "<empty>" ,
    "model" : "<empty>" ,
    "year" : 0,
    "range" : 0,
    "topSpeed" : 0,
    "zeroSixty" : 0.0,
    "mileage" : 0
}

In [ ]:
for key, value in myVehicle.items():
    print("{} : {}".format(key,value))

vin : <empty>
make : <empty>
model : <empty>
year : 0
range : 0
topSpeed : 0
zeroSixty : 0.0
mileage : 0

In [ ]:
myInventoryList = []

Copying the CSV file into memory

In [45]:
import csv
import copy

myVehicle = {
    "vin" : "<empty>",
    "make" : "<empty>" ,
    "model" : "<empty>" ,
    "year" : 0,
    "range" : 0,
    "topSpeed" : 0,
    "zeroSixty" : 0.0,
    "mileage" : 0
}

for key, value in myVehicle.items():
    print("{} : {}".format(key,value))

myInventoryList = []

#WGET my csv file
#!wget https://raw.githubusercontent.com/alnrosales/aws_restart/main/car_fleet.csv

with open('/content/car_fleet.csv') as csvFile:
    csvReader = csv.reader(csvFile, delimiter=',')  
    lineCount = 0  
    for row in csvReader:
        if lineCount == 0:
            print(f'Column names are: {", ".join(row)}')  
            lineCount += 1  
        else:  
            print(f'vin: {row[0]} make: {row[1]}, model: {row[2]}, year: {row[3]}, range: {row[4]}, topSpeed: {row[5]}, zeroSixty: {row[6]}, mileage: {row[7]}')  
            currentVehicle = copy.deepcopy(myVehicle)  
            currentVehicle["vin"] = row[0]  
            currentVehicle["make"] = row[1]  
            currentVehicle["model"] = row[2]  
            currentVehicle["year"] = row[3]  
            currentVehicle["range"] = row[4]  
            currentVehicle["topSpeed"] = row[5]  
            currentVehicle["zeroSixty"] = row[6]  
            currentVehicle["mileage"] = row[7]  
            myInventoryList.append(currentVehicle)  
            lineCount += 1  
    print(f'Processed {lineCount} lines.')
    
    for myCarProperties in myInventoryList:
        for key, value in myCarProperties.items():
            print("{} : {}".format(key,value))
            print("-----")

vin : <empty>
make : <empty>
model : <empty>
year : 0
range : 0
topSpeed : 0
zeroSixty : 0.0
mileage : 0
Column names are: vin, make, model, year, range, topSpeed, zeroSixty, mileage
vin: TMX20122 make: AnyCompany Motors, model:  Coupe, year:  2012, range:  335, topSpeed:  155, zeroSixty:  4.1, mileage:  50000
vin: TM320163 make: AnyCompany Motors, model:  Sedan, year:  2016, range:  240, topSpeed:  140, zeroSixty:  5.2, mileage:  20000
vin: TMX20121 make: AnyCompany Motors, model:  SUV, year:  2012, range:  295, topSpeed:  155, zeroSixty:  4.7, mileage:  100000
vin: TMX20204 make: AnyCompany Motors, model:  Truck, year:  2020, range:  300, topSpeed:  155, zeroSixty:  3.5, mileage:  0
Processed 5 lines.
vin : TMX20122
-----
make : AnyCompany Motors
-----
model :  Coupe
-----
year :  2012
-----
range :  335
-----
topSpeed :  155
-----
zeroSixty :  4.1
-----
mileage :  50000
-----
vin : TM320163
-----
make : AnyCompany Motors
-----
model :  Sedan
-----
year :  2016
-----
range :  240
-----
topSpeed :  140
-----
zeroSixty :  5.2
-----
mileage :  20000
-----
vin : TMX20121
-----
make : AnyCompany Motors
-----
model :  SUV
-----
year :  2012
-----
range :  295
-----
topSpeed :  155
-----
zeroSixty :  4.7
-----
mileage :  100000
-----
vin : TMX20204
-----
make : AnyCompany Motors
-----
model :  Truck
-----
year :  2020
-----
range :  300
-----
topSpeed :  155
-----
zeroSixty :  3.5
-----
mileage :  0
-----

In [43]:
!wget https://raw.githubusercontent.com/alnrosales/aws_restart/main/car_fleet.csv

--2022-05-13 10:26:47--  https://raw.githubusercontent.com/alnrosales/aws_restart/main/car_fleet.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 295 [text/plain]
Saving to: ‘car_fleet.csv’

car_fleet.csv       100%[===================>]     295  --.-KB/s    in 0s

2022-05-13 10:26:47 (13.9 MB/s) - ‘car_fleet.csv’ saved [295/295]

In [44]:
example1 = "/content/car_fleet.csv"
file1 = open(example1, "r")
FileContent = file1.read()

print(FileContent)

vin,make,model,year,range,topSpeed,zeroSixty,mileage
TMX20122,AnyCompany Motors, Coupe, 2012, 335, 155, 4.1, 50000
TM320163,AnyCompany Motors, Sedan, 2016, 240, 140, 5.2, 20000
TMX20121,AnyCompany Motors, SUV, 2012, 295, 155, 4.7, 100000
TMX20204,AnyCompany Motors, Truck, 2020, 300, 155, 3.5, 0

## **Working with the if statement**

In [ ]:
userReply = input("Do you need to ship a package? (Enter yes or no) ")

Do you need to ship a package? (Enter yes or no) no

In [ ]:
if userReply == "yes":
    print("We can help you ship that package!")

# **Working with the else statement**

In [ ]:
userReply = input("Do you need to ship a package? (Enter yes or no) ")
if userReply == "yes":
    print("We can help you ship that package!")
else:
    print("Please come back when you need to ship a package. Thank you.")

Do you need to ship a package? (Enter yes or no) no
Please come back when you need to ship a package. Thank you.

## **Working with the elif statement**

In [ ]:
userReply = input("Would you like to buy stamps, buy an envelope, or make a copy? (Enter stamps, envelope, or copy) ")
if userReply == "stamps":
    print("We have many stamp designs to choose from.")
elif userReply == "envelope":
    print("We have many envelope sizes to choose from.")
elif userReply == "copy":
    copies = input("How many copies would you like? (Enter a number) ")
    print("Here are {} copies.".format(copies))
else:
    print("Thank you, please come again.")

Would you like to buy stamps, buy an envelope, or make a copy? (Enter stamps, envelope, or copy) copu
Thank you, please come again.

## **Working with a while loop**

In [ ]:
print("Welcome to Guess the Number!")
print("The rules are simple. I will think of a number, and you will try to guess it.")

Welcome to Guess the Number!
The rules are simple. I will think of a number, and you will try to guess it.

Importing random and writing a while loop

In [ ]:
import random

number = random.randint(1,10)
isGuessRight = False

while isGuessRight != True:
    guess = input("Guess a number between 1 and 10: ")
    if int(guess) == number:
        print("You guessed {}. That is correct! You win!".format(guess))
        isGuessRight = True
    else:
        print("You guessed {}. Sorry, that isn’t it. Try again.".format(guess))

Guess a number between 1 and 10: 7
You guessed 7. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 6
You guessed 6. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 5
You guessed 5. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 9
You guessed 9. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 1
You guessed 1. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 2
You guessed 2. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 3
You guessed 3. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 4
You guessed 4. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 5
You guessed 5. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 6
You guessed 6. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 9
You guessed 9. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 10
You guessed 10. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 9
You guessed 9. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 7
You guessed 7. Sorry, that isn’t it. Try again.
Guess a number between 1 and 10: 8
You guessed 8. That is correct! You win!

In [ ]:
print("Count to 10!")
for x in range (0, 11):
    print(x)

Count to 10!
0
1
2
3
4
5
6
7
8
9
10

## **Working with the String Sequence and Numeric Weight of Insulin in Python**

Exercise 1: Assigning variables to the sequence elements of human insulin

Exercise 3: Using print() to display sequences of human insulin to the console

In [ ]:
# Store the human preproinsulin sequence in a variable called preproinsulin:
preproInsulin = "malwmrllpllallalwgpdpaaafvnqhlcgshlvealylvcgergffytpktr" \
"reaedlqvgqvelgggpgagslqplalegslqkrgiveqcctsicslyqlenycn"

# Store the remaining sequence elements of human insulin in variables:
lsInsulin = "malwmrllpllallalwgpdpaaa"
bInsulin = "fvnqhlcgshlvealylvcgergffytpkt"
aInsulin = "giveqcctsicslyqlenycn"
cInsulin = "rreaedlqvgqvelgggpgagslqplalegslqkr"

insulin = bInsulin + aInsulin

# Printing "the sequence of human insulin" to console using successive print() commands:
print("The sequence of human preproinsulin:")
print(preproInsulin)

# Printing to console using concatenated strings inside the print function (one-liner):
print("The sequence of human insulin, chain a: " + aInsulin)
print("The sequence of human insulin, chain a:", aInsulin)

The sequence of human preproinsulin:
malwmrllpllallalwgpdpaaafvnqhlcgshlvealylvcgergffytpktrreaedlqvgqvelgggpgagslqplalegslqkrgiveqcctsicslyqlenycn
The sequence of human insulin, chain a: giveqcctsicslyqlenycn
The sequence of human insulin, chain a: giveqcctsicslyqlenycn

Exercise 4: Calculating the rough molecular weight of human insulin using the given code

In [ ]:
# Calculating the molecular weight of insulin  
# Creating a list of the amino acid (AA) weights  
aaWeights = {'A': 89.09, 'C': 121.16, 'D': 133.10, 'E': 147.13, 'F': 165.19,
'G': 75.07, 'H': 155.16, 'I': 131.17, 'K': 146.19, 'L': 131.17, 'M': 149.21,
'N': 132.12, 'P': 115.13, 'Q': 146.15, 'R': 174.20, 'S': 105.09, 'T': 119.12,
'V': 117.15, 'W': 204.23, 'Y': 181.19}  
# Count the number of each amino acids  
aaCountInsulin = ({x: float(insulin.upper().count(x)) for x in ['A', 'C',
'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T',
'V', 'W', 'Y']})  
# Multiply the count by the weights  
molecularWeightInsulin = sum({x: (aaCountInsulin[x]*aaWeights[x]) for x in
['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R',
'S', 'T', 'V', 'W', 'Y']}.values())  
print("The rough molecular weight of insulin: " +
str(molecularWeightInsulin))

The rough molecular weight of insulin: 6696.420000000001

In [ ]:
molecularWeightInsulinActual = 5807.63
print("Error percentage: " + str(((molecularWeightInsulin - molecularWeightInsulinActual)/molecularWeightInsulinActual)*100))

Error percentage: 15.30383306099047

In [ ]:
from num2words import num2words

# num2word in cardinal format 
num = input("Enter Number? ")
print(num2words(num))

Enter Number? 1000000
one million

In [ ]:
!python --version

Python 3.7.13

## **Calculating the Net Charge of Insulin by Using Python Lists and Loops**

In [ ]:
# Python3.6  
# Coding: utf-8  
# Store the human preproinsulin sequence in a variable called preproinsulin:  
preproInsulin = "malwmrllpllallalwgpdpaaafvnqhlcgshlvealylvcgergffytpktrreaedlqvgqvelgggpgagslqplalegslqkrgiveqcctsicslyqlenycn"  
# Store the remaining sequence elements of human insulin in variables:  
lsInsulin = "malwmrllpllallalwgpdpaaa"  
bInsulin = "fvnqhlcgshlvealylvcgergffytpkt"  
aInsulin = "giveqcctsicslyqlenycn"  
cInsulin = "rreaedlqvgqvelgggpgagslqplalegslqkr"  
insulin = bInsulin + aInsulin
# Exercise 1: Assigning variables, lists, and dictionaries
pKR = {'y':10.07,'c': 8.18,'k':10.53,'h':6.00,'r':12.48,'d':3.65,'e':4.25}
# Exercise 2: Using count() to count the numbers of each amino acid
seqCount = ({x: float(insulin.count(x)) for x in ['y','c','k','h','r','d','e']})
# Exercise 3: Writing the net charge formula
pH = 14
while (pH <= 14):
  netCharge = (
      +(sum({x: ((seqCount[x]*(10**pKR[x]))/((10**pH)+(10**pKR[x]))) 
      for x in ['k','h','r']}.values()))
      -(sum({x: ((seqCount[x]*(10**pH))/((10**pH)+(10**pKR[x]))) 
      for x in ['y','c','d','e']}.values())))
print('{0:.2f}'.format(pH), netCharge)

## **Using Functions to Implement a Caesar Cipher**

Exercise 1: Creating a user-defined function

In [47]:
def getDoubleAlphabet(alphabet):
    doubleAlphabet = alphabet + alphabet
    return doubleAlphabet

Exercise 2: Encrypting a message

In [48]:
def getMessage():
    stringToEncrypt = input("Please enter a message to encrypt: ")
    return stringToEncrypt

Exercise 3: Getting a cipher key

In [49]:
def getCipherKey():
    shiftAmount = input( "Please enter a key (whole number from 1-25): ")
    return shiftAmount

Exercise 4: Encrypting a message

In [50]:
def encryptMessage(message, cipherKey, alphabet):
    encryptedMessage = ""
    uppercaseMessage = ""
    uppercaseMessage = message.upper()
    for currentCharacter in uppercaseMessage:
        position = alphabet.find(currentCharacter)
        newPosition = position + int(cipherKey)
        if currentCharacter in alphabet:
            encryptedMessage = encryptedMessage + alphabet[newPosition]
        else:
            encryptedMessage = encryptedMessage + currentCharacter
    return encryptedMessage

Exercise 5: Decrypting a message

In [51]:
def decryptMessage(message, cipherKey, alphabet):
    decryptKey = -1 * int(cipherKey)
    return encryptMessage(message, decryptKey, alphabet)

Exercise 6: Creating a main function

In [52]:
def runCaesarCipherProgram():
    myAlphabet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    print(f'Alphabet: {myAlphabet}')
    myAlphabet2 = getDoubleAlphabet(myAlphabet)
    print(f'Alphabet2: {myAlphabet2}')
    myMessage = getMessage()
    print(myMessage)
    myCipherKey = getCipherKey()
    print(myCipherKey)
    myEncryptedMessage = encryptMessage(myMessage, myCipherKey, myAlphabet2)
    print(f'Encrypted Message: {myEncryptedMessage}')
    myDecryptedMessage = decryptMessage(myEncryptedMessage, myCipherKey, myAlphabet2)
    print(f'Decypted Message: {myDecryptedMessage}')

To call the function

In [53]:
runCaesarCipherProgram()

Alphabet: ABCDEFGHIJKLMNOPQRSTUVWXYZ
Alphabet2: ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWXYZ
Please enter a message to encrypt: Alistair
Alistair
Please enter a key (whole number from 1-25): 1
1
Encrypted Message: BMJTUBJS
Decypted Message: ALISTAIR